.monaco-editor pre {
  background-color: unset !important;
}

.qwebr-icon-status-spinner {
  color: #7894c4;
}

.qwebr-icon-run-code {
  color: #0d9c29
}

.qwebr-output-code-stdout {
  color: #111;
}

.qwebr-output-code-stderr {
  color: #db4133;
}

.qwebr-editor {
  border: 5px solid #D73F09;
  margin-top: 5px;
  font-size: 16px !important;
  overflow: auto;
}

.qwebr-button-run {
  background-color: #EEEEEE;
  border: 2px solid #d74009;
  border-radius: 0.1rem;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;

  /* Enhanced styling */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qwebr-button-run:hover {
  color: #000;
  background-color: #ffa07a; /* Lighter shade of #D73F09 */
  border-color: #D73F09;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.qwebr-button-run:active {
  background-color: #D73F09;
  border-color: #B23000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

.qwebr-button-run:disabled,.qwebr-button-run.disabled,fieldset:disabled .qwebr-button-run {
  pointer-events: none;
  opacity: .65
}

/* Custom styling for RevealJS Presentations*/

/* Reset the style of the interactive area */
.reveal div.qwebr-interactive-area {
  display: block;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
} 

/* Provide space to entries */
.reveal div.qwebr-output-code-area pre div {
  margin: 1px 2px 1px 10px;
}

/* Collapse the inside code tags to avoid extra space between line outputs */
.reveal pre div code.qwebr-output-code-stdout, .reveal pre div code.qwebr-output-code-stderr {
  padding: 0;
  display: contents;
}

.reveal pre div code.qwebr-output-code-stdout {
  color: #111;
  font-size: 16px !important;
}

.reveal pre div code.qwebr-output-code-stderr {
  color: #db4133;
  font-size: 16px !important;
}


/* Create a border around console and output (does not effect graphs) */
.reveal div.qwebr-console-area {
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px 10px #EEEEEE;
  font-size: 16px !important;
}

/* Cap output height and allow text to scroll */
/* TODO: Is there a better way to fit contents/max it parallel to the monaco editor size? */
.reveal div.qwebr-output-code-area pre {
  max-height: 400px;
  overflow: scroll;
  font-size: 16px !important;
}
